* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F7F4E4;
    overflow-y: hidden;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}

.container {
    width: 400px;

    padding: 36px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;



}

.info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    & p {
        line-height: 100%;
        width: 100%;
        margin-top: 20px;
        padding: 20px;
        text-align: center;
    
    }


}

img {
    width: 225px;
    height: 225px;
    border-radius: 50%;
    border: 2px solid #A1AF7A;
    box-shadow: 0 0 10px 1px #A1AF7A;
    margin-top: 20px;

}



.title {
    font-family: 'Cinzel';
    font-weight: 500 !important;
    font-size: 18px !important;
}

.social-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.btn {
    width: 100%;
    /* Largura fixa para os botões */
    margin-bottom: 10px;
    padding: 20px 40px;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    border-radius: 50px;
    border: 2px solid transparent;
    background-color: #A1AF7A;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
        background-color: transparent;
        border: 2px solid #a1af7a;
        color: #A1AF7A;
    }
}




.passo-a-passo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    font-family: Arial, Helvetica, sans-serif;
    color: #35353598;
    gap: 5px;
    margin: 10px;
    line-height: 120%;
}

.title-item{
    padding-bottom: 10px;
    line-height: normal;
}


.passo-a-passo  .item {
    padding-left: 10px;
     width: 100%;
     display: flex;
     flex-direction: column;
     align-items: start;
     justify-content: center;
 }



@media (max-width: 375px) {


    img {

        width: 180px;
        height: 180px;

    }

    .info {
        margin-bottom: 10px;
    }

    p {
        font-size: 12px;

    }

    .btn {
        font-size: 14px;
    }

    .passo-a-passo {
        font-size: 14px;
        line-height: normal;
        align-items: left;
       

    }

    .title-item{
        padding-bottom: 10px;
    }

   

    .passo-a-passo  .item {
       padding-left: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;


      
    }
}

@media (max-width: 320px) {
    img{
        width: 160px;
        height: 160px;
    }
    p, .btn, .passo-a-passo {
        font-size: 12px;

    }

  
}